
/*atuliazar*/

*{
    margin: 0%;
    padding: 0%;
    border: 0%;
    box-sizing: border-box;
    letter-spacing: 1px;
}
body{
    background-color: blanchedalmond;
    border:none;
    min-height: calc(100vh - 16px) ;
    box-sizing: border-box;
    border-radius: none;


}
h1{
    margin-top: 20px;
    margin-bottom: 50px;

    font-style: italic;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{

    font-style:initial;
    font-family: 'Times New Roman', Times, serif;
    text-align:justify;
    padding-top: 5px;
    text-align: justify;
    margin: auto 20px;
    
}
li{
    margin: auto 20px;
    margin-bottom: 10px;
}
img{
    display: flex;
    margin: auto;
    border:  1px solid rgb(0, 0, 0);
    border-radius: 5%;
    right: 50%;
    width: 50%;
	display: inline-block;

}


#div-button {
    height: 50px;
    width: 100px;
    background-color: chocolate;
    text-align: center;
    border:none;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#div-central {
    display: flex;
    justify-content: center;
}

h4{
    margin-left: 10px;
}

#abaixar{
    margin-top: 10px;
    


}
#subir{
    margin-top: 15px;
    margin-bottom: 15px;
}
.maior{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#div-quadrinhos, #div-quadrinhos1, #div-quadrinhos2{
    width: 500px;
    height: 500px ;
    margin:20px 30px 40px 50px ;
    border: 20px 30px 40px 50px ;
}
.img-comida {

    height: 75%;
    width: 75%;
    /* object-fit: cover; */
    border:  1px solid rgb(0, 0, 0);
    border-radius: 5%; 
}
.p-comida {
    position: relative;
    top: 0;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    
}




#organizarMenuLogo{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    border: none;
    align-items: center;

}


header{
    background-color: rgb(192, 84, 8);
    width: 100%;
    padding: 5px;

}
#logo {
    width: 100% ;
    border: none;
    text-decoration: none;
    right: 50%;
}
#logo img{
    top:50%;
    right:50%;
    width: 20%;
    height: 20%;
    border: none;
    cursor: pointer;
}
#menu {
    width: 50%;
}
#menu nav a{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding-right: 50px;
    border: none;
    justify-content: center;
    font-size: 18px;
}
#menu nav a:hover{
    color: rgb(133, 71, 27)
}

img{
    width: 50%;
    margin:auto 20px;
}


/*footer*/
footer{
    width: 100%;
    margin-top: 50px;
    /* flex-direction: column; */

}
#footerFinal {
    width: 100%;
    display: flex;
    grid-template-columns:repeat(2,1fr) ;
    background-color: rgb(192, 84, 8);
    /* padding: 50 px 0px; */
    justify-content:center;
    text-decoration: none;
    /* align-items: center; */
    /* flex-direction: column; */
    
}
#colunaContatos h4{
    margin-bottom: 2%;

}
#colunaContatos{
    /* display: inline; */
    /* margin-top: 5%; */
    transition: all 0.6s;
    margin-top: 15px;
    /* width: 150px; */
    margin-left: 70%;
    padding: 0px 40px 0px 40px;
    /* text-align: center; */
    /* flex-direction: column; */



    
}
#colunaContatos a{
    text-decoration: none;
}
#colunaContatos a:hover{
    opacity: 0.8;
}
#colunaContatos button{ 
    width: 24px;
    height: 24px;
    display: flex;
    background-image: linear-gradient(45deg, rgb(78, 40, 12), rgb(227, 113, 32));
    margin:  15px;
    border: none;
    margin-left: 10px;
    border-radius: 5px ;
    cursor:pointer;
    text-decoration: none;
    padding: 2px;

}
.email{
    /* text-align: center; */
    width: max-content;
}

.git{
    width: max-content;
}
.fone{
    width: max-content;
}

/*
#instagram{
    background:linear-gradient(#7f37c9,#ff2992, #ff9807) ;
}
#iconesSociais  button{
    width: 24px;
    height: 24px;
    display: flex;
    background-image: linear-gradient(45deg, rgb(126, 69, 28), chocolate);
    margin:  15px;
    border: none;
    margin-right: 10px;
    border-radius: 5px ;
    cursor:pointer;
*/




#colunaContatos a button i{
    font-size: 15px;
    color: aliceblue;
    display: flex;
    justify-content:center;
    padding: 2px;
}
#logoFooter img{
    margin-bottom: 20%;
    /* right: 50%; */
    /* left: calc(50% - 50px); */
    /* right: 50px; */
    /* top: calc(20% - 7px); */
    bottom:none;
    width: 30%;
    height: 40%;
    border: none;
    cursor: pointer;
    position: absolute;
    /* flex-direction: column; */


}

/* sobre */
.sobre{
    margin: 20px ;
    font-size: 20px;
    justify-content:center;
    margin-top: 30px;
    line-height: 40px;
    text-indent: 5%;


}
.sobre h3{
    text-align: center;
}